<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymi.personal">

    <application>

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity2"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPswActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TixianRecordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnnouncementActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PocketActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MsgActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TixianActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TixianRuleActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TixinaRecordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendMoneyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LanguageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotifityActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />

    </application>
</manifest>
