<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymin.driver.securitycenter" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application>
        <activity
            android:name=".activity.EmergeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CallPoliceActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddEmergeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LuyinActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".servicer.RecordingService">
        </service>
    </application>
</manifest>
