<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymin.custombus">

    <application>
        <activity android:name=".activity.BanciSelectActivity"></activity>
        <activity
            android:name=".activity.CreateOrderActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.CbRunActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.PassengerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.CheckTicketActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.NewCheckTicketActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
    </application>

</manifest>