<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymin.rental">
    <application>

        <activity
            android:name=".flowMvp.FlowActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".activity.FinishActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

    </application>
</manifest>