<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymi.zhuanche">

    <application>

        <activity
            android:name=".flowMvp.FlowActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.CancelActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".activity.ConsumerInfoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".activity.SameOrderActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".activity.FeeDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".flowMvp.oldCalc.OldRunningActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="sensor"
            android:theme="@style/FullscreenTheme"
            />
        <activity
            android:name=".flowMvp.oldCalc.OldWaitActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="sensor"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name=".activity.TransferActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
    </application>
</manifest>
