<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymi.daijia">

    <application>

        <activity
            android:name=".flowMvp.FlowActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>
</manifest>
