<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymi.component">

    <permission
        android:name="com.example.broadcast.permission"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".activity.WebActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack"/>

        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.PlaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".activity.CityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/ThemeSwipeBack"/>
        <activity
            android:name=".activity.NaviActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service
            android:name=".loc.LocService"
            android:process=":remote1">
            <intent-filter>
                <action android:name="com.easymi.eomponent.START_LOC" />
                <action android:name="com.easymi.eomponent.STOP_LOC" />
            </intent-filter>
        </service>

        <service
            android:name=".loc.LocationHelperService"
            android:process=":remote2">
            <intent-filter>
                <action android:name="com.easymi.component.loc.ACTIVATE" />
            </intent-filter>
        </service>

        <receiver android:name=".loc.LocReceiver">
            <intent-filter>
                <action android:name="com.easymi.eomponent.LOC_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
