<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easymi.common">

    <!--阿里移动推送相关权限-->
    <!--Android 6.0版本可去除，用于选举信息（通道复用）的同步-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--进行网络访问和网络状态监控相关的权限声明-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许对sd卡进行读写操作-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--网络库使用，当网络操作时需要确保事务完成不被杀掉-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--用于读取手机硬件信息等，用于机型过滤-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--选举使用，当应用有删除或者更新时需要重新选举，复用推送通道-->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!--补偿通道小米PUSH使用，不用可去除-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--补偿通道GCM使用，不使用可去除-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--允许监听启动完成事件-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--允许访问震动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许task重排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application>

        <activity
            android:name=".mvp.work.WorkActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiushuiActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.BaoxiaoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.CreateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".activity.ModelSetActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".mvp.grab.GrabActivity2"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".register.InfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".register.BrandActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".register.VehicleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.order.OrderActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait" />

        <!--<service-->
            <!--android:name="com.easymi.common.daemon.DaemonService"-->
            <!--android:process=":process1" />-->

        <!--<receiver-->
            <!--android:name="com.easymi.common.daemon.PuppetReceiver1"-->
            <!--android:process=":process1" />-->

        <!--<service-->
            <!--android:name="com.easymi.common.daemon.PuppetService"-->
            <!--android:process=":process2" />-->
        <!--<receiver-->
            <!--android:name="com.easymi.common.daemon.PuppetReceiver2"-->
            <!--android:process=":process2" />-->

        <!--<service-->
            <!--android:name=".daemon.JobKeepLiveService"-->
            <!--android:exported="true"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <!--消息接收监听器-->
        <receiver android:name="com.easymi.common.receiver.AliPushReceiver">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--<service android:name="com.easymi.common.push.MQTTService" />-->

    </application>

</manifest>
